.field {
    text-align: center;
}

.statusDiv {
    font-size: 50px;
}

.turnX:after {
    color: #00f;

    content: "X";
}

.turnO:after {
    color: #f00;

    content: "O";
}

.winnerX:after {
    color: #00f;

    content: "Winner: X";
}

.winnerO:after {
    color: #f00;

    content: "Winner: O";
}

.winnerTied:after {
    color: #f0f;

    content: "Tied";
}